@media(max-width:600px) {
    .sesion1 {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-top: 77px;
    }

    .brillos {
        display: none;
    }

    .sesion1 .hijo1 {
        text-align: center;
    }

    .sesion1 .hijo2 {
        width: 70%;
    }

    .sesion1 .botones {
        justify-content: center;
    }

    .sesion1 .texto1 {
        position: absolute;
        top: 20%;
        left: 5%;
    }

    .sesion1 .texto2 {
        position: absolute;
        top: 6%;
        left: 27%;
    }

    .sesion1 .texto3 {
        position: absolute;
        top: 14%;
        left: 78%;
    }

    .torre4 h3 {
        display: none;
    }

    .torre4 .iconos {
        padding-top: 25px;
        gap: 0;
    }
}
